<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Lista de Enfermeiros</title>
</head>
<body>
<h1>Lista de Enfermeiros</h1>
<table>
    <thead>
    <tr>
        <th>Nome</th>
        <th>CPF</th>
        <th>Telefone</th>
        <th>Data de Nascimento</th>
        <th>Departamento</th>
        <th>Ações</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="enfermeiro : ${enfermeiros}">
        <td th:text="${enfermeiro.nome}"></td>
        <td th:text="${enfermeiro.cpf}"></td>
        <td th:text="${enfermeiro.telefone}"></td>
        <td th:text="${#dates.format(enfermeiro.dataNascimento, 'dd/MM/yyyy')}"></td>
        <td th:text="${enfermeiro.departamento.localizacao}"></td>
        <td>
            <a th:href="@{/enfermeiroView/editar/{id}(id=${enfermeiro.id})}">Editar</a>
            <a th:href="@{/enfermeiroView/{id}/deletar(id=${enfermeiro.id})}"
               onclick="return confirm('Tem certeza que deseja deletar?')">Deletar</a>
        </td>
    </tr>
    </tbody>
</table>
<a th:href="@{/enfermeiroView/form}">Cadastrar Novo Enfermeiro</a>
</body>
</html>
