<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Adicionar Novo Paciente</title>
</head>
<body>

<h1>Cadastrar Novo Paciente</h1>

<form action="#" th:action="@{/pacienteView/form}" th:object="${paciente}" method="post">
    <label for="nome">Nome:</label>
    <input type="text" id="nome" th:field="*{nome}" placeholder="Nome do Paciente" required>
    <br>

    <label for="cpf">CPF:</label>
    <input type="text" id="cpf" th:field="*{cpf}" placeholder="CPF do Paciente" required>
    <br>

    <label for="dataNascimento">Data de Nascimento:</label>
    <input type="text" id="dataNascimento" th:field="*{dataNascimento}" required>
    <br>

    <label for="peso">Peso (kg):</label>
    <input type="number" id="peso" th:field="*{peso}" step="0.01" placeholder="Peso em kg" required>
    <br>


    <label for="altura">Altura (m):</label>
    <input type="number" id="altura" th:field="*{altura}" step="0.01" placeholder="Altura em metros" required>
    <br>

    <label for="tipoSanguineo">Tipo Sanguíneo:</label>
    <input type="text" id="tipoSanguineo" th:field="*{tipoSanguineo}" placeholder="Tipo Sanguíneo" required>
    <br>


    <label for="cep">CEP:</label>
    <input type="text" id="cep" th:field="*{endereco.cep}" placeholder="CEP" required>
    <br>

    <label for="logradouro">Logradouro:</label>
    <input type="text" id="logradouro" th:field="*{endereco.logradouro}" placeholder="Logradouro" required>
    <br>

    <label for="numero">Número:</label>
    <input type="text" id="numero" th:field="*{endereco.numero}" placeholder="Número" required>
    <br>

    <label for="bairro">Bairro:</label>
    <input type="text" id="bairro" th:field="*{endereco.bairro}" placeholder="Bairro" required>
    <br>

    <label for="cidade">Cidade:</label>
    <input type="text" id="cidade" th:field="*{endereco.cidade}" placeholder="Cidade" required>
    <br>

    <label for="estado">Estado:</label>
    <input type="text" id="estado" th:field="*{endereco.estado}" placeholder="Estado" required>
    <br>

    <label for="complemento">Complemento:</label>
    <input type="text" id="complemento" th:field="*{endereco.complemento}" placeholder="Complemento (Opcional)">
    <br>

    <button type="submit">Salvar Paciente</button>
</form>

</body>
</html>
